<!DOCTYPE html>
<html lang="en">
{% load static tailwind_tags %}
<head>
    {% tailwind_css %}
</head>
<body class="min-h-dvh w-full flex flex-col bg-linear-60 from-[#00163C] to-[#004F99]">
    <!--navbar-->
    <div class="pl-20 pb-5 navbar flex flex-row items-center gap-20">
        <a href="{% url 'home' %}" class="mpc-logo inline-block">
            <img class="w-[5vw] h-auto object-contain hover:scale-105 transition-transform duration-200"
                src="{% static 'homepage/mpc-logo.svg' %}" alt="MPC logo">
        </a>
        <a class="ml-20 navbutton transition duration-200 hover:text-[#FFB81C]">
            <label class="text-xl animated-underline">
            About
            </label>
        </a>
        <!-- this is how to move from page to page -->
        <a href="{% url 'plugins' %}?tab=pro&category=SYN" class="navbutton transition duration-200 hover:text-[#FFB81C]">
            <label class="text-xl animated-underline">
                Plugins
            </label>
        </a>
        <a class="navbutton transition duration-200 hover:text-[#FFB81C]">
            <label class="text-xl animated-underline">
                Tutorials
            </label>
        </a>
        <a class="navbutton transition duration-200 hover:text-[#FFB81C]">
            <label class="text-xl animated-underline">
                Submissions
            </label>
        </a>
    </div>
    <main class="grow">
    {% block content %}
    {% endblock %}
    </main>
    <!-- footer, this has the logo and links to socials -->
    <footer class="w-full p-8"> <div class="container mx-auto flex flex-col md:flex-row items-center gap-10 text-gray-300">
            <div class="text-center md:text-left mb-4 md:mb-0">
                <p class="font-bold">&copy; 2025 Pitt MPC</p>
                <p class="text-sm">University of Pittsburgh</p>
            </div>

            <div class="flex gap-8">
                <a href="#" class="w-10 h-10">
                    <img src="{% static 'homepage/discord-logo.svg' %}"/>
                </a>
                <a href="#" class="w-10 h-10">
                    <img src="{% static 'homepage/instagram-logo.svg' %}"/>
                </a>
            </div>

        </div>
    </footer>
</body>
</html>