{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="window flex h-svh w-wvh bg-[#00163C] border-t-2 border-b-2 border-[#004F99]">
    <div class="plugin overflow-auto">
        <div class="plugin__categories flex flex-col text-left w-full h-full bg-[#022157] border-[#004F99] pl-10 pr-10 pt-5 gap-3 border-r-2 border-b-2">
            <label class="category__title font-bold text-center">
                Categories
            </label>
            <div class="category__pill flex flex-row gap-2 items-center rounded-2xl p-2 hover:bg-[#004F99] transition-colors duration-200">
                <img class="size-7" src="{% static 'plugins/effects.svg' %}"/>
                <label class="category">
                    Effects
                </label>
            </div>
            <div class="category__pill flex flex-row gap-2 items-center rounded-2xl p-2 hover:bg-[#004F99] transition-colors duration-200">
                <img class="size-7" src="{% static 'plugins/synth.svg' %}"/>
                <label class="category">
                    Synths
                </label>
            </div>
            <div class="category__pill flex flex-row gap-2 items-center rounded-2xl p-2 hover:bg-[#004F99] transition-colors duration-200">
                <img class="size-7" src="{% static 'plugins/compress.svg' %}"/>
                <label class="category">
                    Compressors
                </label>
            </div>
            <div class="category__pill flex flex-row gap-2 items-center rounded-2xl p-2 hover:bg-[#004F99] transition-colors duration-200">
                <img class="size-7" src="{% static 'plugins/distort.svg' %}"/>
                <label class="category">
                    Distorters
                </label>
            </div>
        </div>
    </div>
</div>
{% endblock %}